html,body {
  margin: 0;
  padding: 0;
}
body .btn-bg {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body .btn-bg.bg-2 {
  background: ###f8eded;
  padding-bottom: 100px;
}

body .btn-bg.bg-2 .btn-2 button {
  color: ##f8eded;
  background: ###f8eded;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 300px;
  text-align: center;
}

body .btn-bg.bg-2 .btn-2 button:hover{
  background: transparent;
  color: ##f8eded;
}

body .btn-bg.bg-2 .btn-2 button:hover:before,
body .btn-bg.bg-2 .btn-2 button:hover:after {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 100%;
}

body .btn-bg.bg-2 .btn-2 button:before,
body .btn-bg.bg-2 .btn-2 button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 3px;
  background: ##f8eded;
  transition: all 0.4s ease;
}
body .btn-bg.bg-2 .btn-2 button:after {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}

@media (min-width: 500px) {
  button span {
    display: none;
  }
  button:hover span {
    display: inline-block;
  }
}

body .btn-bg.bg-3 {
  background: #ffe6e6;
}

body .btn-bg.bg-3 .btn-3 button {
  color: ##ffe6e6;
  background: ##ffe6e6;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 300px;
  text-align: center;
}

.btn-3 {
  text-align: center;
}

body .btn-bg.bg-3 .btn-3 button:hover{
  background: transparent;
  color: #ffcccc;
}

body .btn-bg.bg-3 .btn-3 button:hover:before,
body .btn-bg.bg-3 .btn-3 button:hover:after {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 100%;
}

body .btn-bg.bg-3 .btn-3 button:before,
body .btn-bg.bg-3 .btn-3 button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 0px;
  height: 3px;
  background: #ffcccc;
  transition: all 0.4s ease;
}
body .btn-bg.bg-3 .btn-3 button:after {
  top: inherit;
  left: inherit;
  bottom: 0;
  right: 0;
}
body .logo
{
  margin: 60px auto 60px auto;
  display: block;
  width: 300px;
}
body .logoImg
{
  width: 300px;
}
.btn {
  margin: 0 auto 30px auto;
  display: block;
}
button {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #59a6c0;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-family: "Lato";
  font-size: 1.5em;
}
button a {
  text-decoration: none;
}

#Text {
  color: #59a6c0;
  text-align: center;
}
