html,body {
  margin: 0;
  padding: 0;
}
body .main {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: ###f8eded;
  padding-bottom: 100px;
}

@media (min-width: 500px) {
  button span {
    display: none;
  }
  button:hover span {
    display: inline-block;
  }
}

body .footer {
  background: #ffe6e6;
  text-align: center;
  width: 100%;
  position:absolute; bottom:0px;
  height: 30%;
}

body .img
{
  margin: 100px auto 60px auto;
  display: block;
  display: inline;
}

body .imgBig
{
  margin: 50px auto 60px auto;
  display: block;
  display: inline;
  width: 60%;
}

body .citrus
{
  width: 30%;
  padding-right: 8px;
}
body .avocado
{
  width: 30%;
}
body .orange
{
  width: 30%;
  padding-left: 8px;
}

body .LemonTree
{
  width: 100%;
}

#Text {
  color: #59a6c0;
  text-align: center;
}

body .menu
{
  width: 100%;
  display: inline;
}

descr_left {
  width: 30%;
  margin-left: 4%;
  display: inline-block;
}

descr_middle {
  width: 30%;
  display: inline-block;
}

descr_right {
  width: 30%;
  margin-righ: 4%;
  display: inline-block;
}

#Descriptive {
  color: #59a6c0;
  text-align: center;
}
