html,body {
  margin: 0;
  padding: 0;
}

body .main {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffe9e6;
  padding-bottom: 100px;
  font-family: "Verdana", Verdana, Sans-serif;
}

body .imgBtn
{
  padding-top: 100px;
  text-align:center;
    margin:auto;
}

body .img
{
  margin: 130px auto 60px auto;
  display: block;
  display: inline;
}

body .imgBig
{
  margin: 50px auto 60px auto;
  display: block;
  display: inline;
  width: 60%;
}

body .menu
{
  width: 100%;
  display: inline;
}

body .footer {
  background: #f7887c;
  text-align: center;
  width: 100%;
  position:absolute; bottom:0px;
  height: 30%;
}

form {
    margin-top: 50px;
    color: #b9554a;
    text-align: left;
    font-family: "Verdana", Verdana, Sans-serif;
    font-weight: lighter;
}

body .citrus
{
  width: 30%;
  padding-right: 8px;
}
body .avocado
{
  width: 30%;
}
body .orange
{
  width: 30%;
  padding-left: 8px;
}

body .Continously
{
  width: 30%;
  padding-left: 8px;
}

body .header
{
  border-bottom: 2px solid #b9554a;
  width: 100%;
  padding-top: 20px;
}

body .buttonsInSetUp
{

  right: 0px;
  left:0px;
  position:absolute;
}

body .btn
{
  width: 40%;
}

body .LemonTree
{
  width: 100%;
}

body .logo
{
  width: 100px;
  position: absolute;
  margin: auto;
  top: 5px;
  left: 0;
  right: 0;
}

body .addPicture
{
  width: 40px;
  position: absolute;
  margin: auto;
  top: 5px;
  right: 5px;
}

input[type=text] {
    background-color: #fbaba2;
    color: #b9554a;
    width: 100%;
    border: 3px solid #f9dbdb;
    padding: 5px;
}

#Text {
  color: #b9554a;
  text-align: center;
  font-family: "Verdana", Verdana, Sans-serif;
  font-weight: lighter;
}

descr_left {
  margin-right: 5px;
  display: inline-block;
  position: absolute;
  margin: auto;
  top: 350px;
  left: 0;
  right: 200px;
}

descr_middle {
  display: inline-block;
  position: absolute;
  margin: auto;
  top: 350px;
  left: 0;
  right: 0;
}

descr_right {
  margin-left: 5px;
  display: inline-block;
  position: absolute;
  margin: auto;
  top: 350px;
  left: 200px;
  right: 0;
}

#Descriptive {
  color: #b9554a;
  font-family: "Verdana", Verdana, Sans-serif;
  font-weight: lighter;
  text-align: center;
}

th {
  padding-left: 25px;
    text-align: left;
    color: #b9554a;
    font-family: "Verdana", Verdana, Sans-serif;
    font-weight: bold;
}
td {
  padding-left: 25px;
    text-align: left;
    color: #b9554a;
    font-family: "Verdana", Verdana, Sans-serif;
    font-weight: lighter;
}

body .smalLemon
{
  height: 15px;
  width: 15px;
  padding-right: 5px;
}

button {
    font-family : inherit;
    font-size: 1em;
    color: #b9554a;
}
